<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="shine-text">
        <span class="title-main">PROGGAMING</span>
        <span class="title-sub">- Aprender</span>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="learn-container ion-padding">

    <div class="lesson-card">
      <div class="lesson-header">
        <span class="lesson-title">HTML - minigames</span>
      </div>
      <span class="lesson-desc">
        Comece a conhecer o básico da linguagem HTML com minigames!
      </span>
      <div class="lesson-footer">
        <ion-button class="btn-play" color="secondary" routerLink="/game-html" expand="block">
          Jogar
        </ion-button>
      </div>
    </div>

    <div class="lesson-card">
      <div class="lesson-header">
        <span class="lesson-title">CSS - minigames</span>
      </div>
      <span class="lesson-desc">
        Comece a conhecer o básico da linguagem CSS com minigames!
      </span>
      <div class="lesson-footer">
        <ion-button class="btn-play" color="medium" routerLink="/game-css" expand="block" disabled>
          Jogar (em breve)
        </ion-button>
      </div>
    </div>

    <div class="lesson-card">
      <div class="lesson-header">
        <span class="lesson-title">JavaScript - minigames</span>
      </div>
      <span class="lesson-desc">
        Comece a conhecer o básico da linguagem JavaScript com minigames!
      </span>
      <div class="lesson-footer">
        <ion-button class="btn-play" color="tertiary" routerLink="/game-js" expand="block">
          Jogar
        </ion-button>
      </div>
    </div>

    <p class="academy-link">
      Acesse o Academy do Proggaming também!
      <a href="../Academy/" target="_blank">Clique aqui</a>.
    </p>
  </div>
</ion-content>
